*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
  background: linear-gradient(to bottom, #009688 20%, #d9dbd3 20% 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

#app{
  width: 90%;
  min-width: 600px;
  height: 90%;
  display: flex;
}

.avatar-top{
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #d3cfcf;
}

.avatar{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.span-sidebar{
font-size: 15px;
font-weight: bolder;
}

.avatar img, .chat-avatar img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

i{
  cursor: pointer;
}

.chat-header-right{
  width: 20px;
  height: 20px;
  margin: 5px 60px;
  color: rgb(139, 134, 134);
  display: flex;
}

.chat-header-right i{
  padding-left: 15px;
}



.notifications {
  display: flex;
  align-items: center;
  background-color: #8edafb;
  padding: 13px;
}

.bell-icon {
  text-align: center;
  width: 45px;
  height: 45px;
  background-color: white;
  margin-right: 10px;
  border-radius: 50%;
}

.bell-icon i {
  line-height: 45px;
}

.notifications-message a {
  color: rgba(114, 114, 114, 0.829);
  text-decoration: underline;
}

.serch-sidebar{
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 8px 15px;
}

.serch-sidebar-container{
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  justify-content: space-between;
  padding: 10px;
}

.serch-sidebar-container input{
  border: none;
  outline: none;
  margin-left: 20px;
}

.chats-sidebar{
   height: calc(100vh - 115px); 
  overflow-y: scroll;
  background-color: white;
}

.chat-avatar{
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.contact-chat{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px;
  width: 100%;
}

.contact-chat:hover{
  background-color: #e5e1e1;
}

.chat-info{
  margin-left: 15px;
  flex: 10;
}

.chat-info p{
  font-size: 13px;
  line-height: 20px;
  color: #888;
}

.message-container{
  flex: 12;

}

.message-content{
  background-image: url(../img/mine.jpg);
  background-position: center;
  height: calc(100vh - 167px);
  padding: 20px 80px;
  overflow-y: scroll;
}

.chat-time-messagge{
  margin-left: 10px;
  font-size: 10px;
  color: grey
}

.chat-title{
  display: flex;
  align-items: center;
}

.visual-user{
  margin-left: 15px;
}

.visual-user p{
  font-size: 13px;
  color: gray;
}

/* CHAT FOOTER */

.chat-footer{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: center;
  background-color: #ededed;

}

.chat-footer input{
  flex: 20;
  margin: 5px 10px;
  padding: 12px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.chat-footer i{ 
  width: 22px;
  height: 22px;
  flex: 1;
  color: grey;
  padding: 5px 10px;
}

/* CSS MESSAG SENT AND RECEIVED */
.sent{
  font-size: 14px;
  padding: 8px 10px;
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 30px;
}

.received{
  margin-left: auto;
  background-color:  #dcf8c6;
  font-size: 14px;
  padding: 8px 10px;
  width: fit-content;
  border-radius: 8px;
  margin-bottom: 30px;
}

.user-status{
  padding: 10px;
  color: green;
}

/* DELETE MESSAGE AND INFO */

.hidden-menu{
    top: 50px;
    padding: 5px;
    z-index: 1000;
    border-radius: 7px;
}

.hidden-menu p{
    cursor: pointer;
    padding: 5px;
}

.hidden-menu p:first-child{
    border-radius: 7px 7px 0 0;
}

.hidden-menu p:last-child{
    border-radius: 0 0 7px 7px;
}

.hidden-menu p:hover{
    background-color: #e9eaeb;
}