<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT AWESON -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- VUE.JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp-Web</title>
</head>
<body>
    <div id="app">

        <!-- SECTION MINE-AVATAR -->
        <div class="sidebar">
            <div class="avatar-top">
                <div class="avatar">
                    <img src="img/avatar_16.png" alt="fotoprofilo">
                </div>
                <span class="span-sidebar">Luigi De Filippo</span><span class="user-status"><i class="fa-solid fa-circle"></i></span>
                <div class="chat-header-right">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- ADD SECTION NOTIFICATION -->
            <div class="notifications">
                <div class="bell-icon">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="notifications-message">
                    <span>Ricevi notifiche di nuovi messaggi</span> <br>
                    <a href="#">Attiva notifiche despktop</a>
                </div>
            </div>

            <!-- SEARCK SIDEBAR -->

            <div class="serch-sidebar">
                <div class="serch-sidebar-container">
                    <input type="text" placeholder="Cerca tra i tuoi contatti" v-model="searchContact" @keyup="filterChat" >
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <!-- add chats -->
            <div class="chats-sidebar">
                <template v-for="(contact, index) in contacts">
                <div class="contact-chat" @click="activeCoversation(index)" v-if="contact.visible == true">

                    <div class="chat-avatar">
                        <img :src="contact.avatar" alt="">
                    </div>

                    <div class="chat-info">
                        <h4>{{ contact.name }}</h4>
                        <p>Ultimo accesso 03/03/2022</p>
                    </div>
                </div>
            </template>
            </div>
        </div>
        <!-- SECTION MESSAGE -->
        <div class="message-container">
            <div class="avatar-top">
                <div class="chat-title">
                    <div class="avatar">
                        <img :src="contacts[activeIndex].avatar" alt="">
                    </div>
                    <div class="visual-user">
                        <h4>{{contacts[activeIndex].name}}</h4>
                        <p>Online</p>
                    </div>
                </div>
                <div class="chat-header-right">

                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
    
                </div>
            </div>
            <div class="message-content">
                <div v-for="message in contacts[activeIndex].messages">
                    <div :class="message.status">
                        <span>{{message.message}}</span> 
                    
                        <span class="chat-time-messagge">{{message.hour}}</span> 
                    </div>
                </div>
            </div>

            <!-- CHAT FOOTER -->
            <div class="chat-footer">
                <i class="fa-solid fa-face-laugh-beam"></i>
                <input  type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </div>

    </div>







    <!-- LUXON -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>

    <!-- JS -->
    <script src="js/script.js"></script>
</body>
</html>